/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  width: 90%; /* Responsive width */
  max-width: 400px; /* Max width to prevent stretching on larger screens */
}

h1 {
  color: #3498db;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Stack content in columns on smaller screens */
}

li button {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Add some spacing between the text and the button */
}

li button:hover {
  background-color: #c0392b;
}

.total {
  margin-top: 15px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
